@import '~styles/mixins';
@import '~styles/variables';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: $space-l;
}

.image {
  object-fit: contain;
  max-height: 100%;
  max-width: 100%;
  outline: none;
}
