// Colors
$blue: #0052a5;
$blue-light: #0075e2;
$blue-lighter: #b4e5ff;
$pink: #ff4081;
$red: #a7162d;
$red-light: #d5233f;
$black: #1b1b1b;
$gray-darker: #656565;
$gray-dark: #767676;
$gray: #b7b7b7;
$gray-light: #f1f1f1;
$white: #ffffff;
$green: #4caf50;
$pap-color: #dc371b;

$verdict-true: #24af47;
$verdict-false: #d5233f;
$verdict-sensitive: #7718ad;

// Padings
$space: 16px;
$space-xs: $space / 4;
$space-s: $space / 2;
$space-m: $space;
$space-l: $space * 2;
$space-xl: $space * 4;

// Border
$border-radius: 3px;
