@import '~styles/variables';

.container {
  padding: $space-l;
}

.field {
  width: 100%;
  margin-bottom: $space-m;
}

.hidden {
  opacity: 0.3;
}

.actions {
  display: flex;
  justify-content: flex-end;
  margin-top: $space-l;

  button {
    margin-left: $space;
  }
}

.letterCounter {
  color: $gray;
  line-height: 0;
  margin-bottom: $space-m;
}
